{% extends 'email.base.twig' %}

{% block title %}
	{{ subject | raw }}
{% endblock %}

{% block content %}
	<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
		<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
			{{ content | raw }}
		</td>
	</tr>
{% endblock %}

{% block footer %}
	Сообщение отправлено в результате выполнения автоматического действия для <a href="{{ url }}">проектного артефакта</a>.
{% endblock %}
